 #game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 50px;
  
} 
div h1{
  text-align: center;
  color: blueviolet;
  border-bottom: 1px solid gray;
}
#game{
  display: flex;
  flex-wrap: wrap;
}
hr{
  border: 1px solid black;
}

button{
  font-size: large;
  width:10vw;
  height: 5vh;
  align-self: center;
  background-color:gray;
  color: white;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 18px;
}

button:hover {
  background-color: yellowgreen;
  transform: scale(1.07);
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding-top:5vh;
  padding-bottom: 5vh;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media all and (max-width:1000px){
  #game {
    flex-direction: column;
    align-items: center;
  }

  #game div {
    width:70vw;
    height: 20vh;
  }
}
